<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.mapper.StuffInfoMapper">

    <insert id="addStuffs" parameterType="java.util.List">
        INSERT INTO stuff_info (stuff_id, name, price, stuff_count, status, create_time)
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.stuffId}, #{item.name}, #{item.price}, #{item.stuffCount}, #{item.status}, #{item.createTime})
        </foreach>
    </insert>

    <select id="getStuffCount" parameterType="com.bank.entity.OrderInfo" resultType="java.lang.Long">
        SELECT stuff_count from stuff_info WHERE stuff_id = #{stuffId} AND status = 0 FOR UPDATE
    </select>

    <update id="updateStuffCount">
        UPDATE stuff_info SET stuff_count = #{stuffCount} WHERE stuff_id = #{stuffId}
    </update>

    <update id="returnStuff">
        UPDATE stuff_info SET stuff_count = stuff_count + #{stuffCount} WHERE stuff_id = #{stuffId}
    </update>

</mapper>